*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}

body{
	width: 1920px;
	height: 420px;
	background-color: black;
	color: white;
	text-align: center;
}
.logo{
	margin-top: 120px;
	height: 35px;
}
main{
	margin-top: 60px;
}
.line{
	height: 30px;
	width: 230px;
	border-bottom: 2px solid white;
	display: inline-block;
}
.fab{
	margin-left: 10px;	
}
.links{
	margin-top: 30px;
}
.links:first-child{
	margin-right: 10px;	
}
.footer{
	margin-top: 90px;
}
span{
	color: rgb(0,199,252);
}