/* *{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;} */

body{
	background-color: rgb(159,9,9);
}
.logo {
	text-align: center;
	color: white;
	height: 50px;
	padding: 20px;
	font-weight: 900;
	font-size: xx-large;
}
.nav {
	background-color: black;
}
.nav>div{
	display: inline-block;
	width: 21%;
	margin-left: 15px;
	padding: 10px;
	text-align: center;
	padding: 10px;
}
.nav>div:first-child{
	margin-left: 25px;
}

.img_item {
	display:inline-block;
	color: white;
	text-align: center;
	width: 30%;
}
.left_aside {
	background-color: rgb(125,9,9);
	display: inline-block;
	width: 30%;
	line-height: 30px;
}

.main{
	display: inline-block;
	color: white;
	width:50%;
	position: relative;
	line-height: 23px;
	
}

.right_aside {
	display: inline-block;
	width: 19%;
	color:black;
	background-color: white;
}
.aside_title {
	background-color: grey;
	text-align: center;
	border: 1px solid black;
}
.footer {
	display:block;
	margin-top:200px;
	background-color: rgb(174,44,14);
	color: white;
	text-align: center;
	font-size: x-large;
}
a{
	color:rgb(174,44,14);
	margin-left:20px;
}
