@font-face{
font-family: 'Lato', sans-serif;
src:url('../fonts/Lato/Lato-Light.ttf') format('ttf');
src:url('../fonts/Lato/Lato-Light.woff') format('woff');src:url('../fonts/Lato/Lato-Light.woff2') format('woff2');
font-weight: 400;
font-style: normal;
}
@font-face{
font-family: 'Lato-Bold', sans-serif;
src:url('../fonts/Lato/Lato-Bold.ttf') format('ttf');
src:url('../fonts/Lato/Lato-Bold.woff') format('woff');
src:url('../fonts/Lato/Lato-Bold.woff2') format('woff2');
font-size: bold;
font-style: normal;
}
@font-face{
font-family: 'Playfair Display', serif;
src: url('../fonts/Playfair_Display/static/PlayfairDisplay-Regular.ttf') format('ttf');
src: url('../fonts/Playfair_Display/static/PlayfairDisplay-Regular.woff') format('woff');
src: url('../fonts/Playfair_Display/static/PlayfairDisplay-Regular.woff') format('woff2');
font-weight: 72px;
font-style: normal;
}